<!DOCTYPE html>
<html>
<head>
    <title>Player</title>
    <style>
        body {
            background: black;
            color: white;
            text-align: center;
            font-family: Arial;
        }

        video {
            width: 90%;
            margin-top: 20px;
        }

        a {
            color: white;
            display: inline-block;
            margin-top: 20px;
        }
    </style>
</head>
<body>

<h2>Reproduzindo</h2>

<video controls autoplay>
    <source src="/video?path={{ path }}">
</video>

<br>
<a href="/">← Voltar</a>

</body>
</html>