<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://pedro.streaming/StreamingTV"
        version="1.0.0">
    <tizen:application id="PedroStr0.StreamingTV"
                       package="PedroStr0"
                       required_version="2.4"/>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <name>Streaming</name>
    <tizen:profile name="tv"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
</widget>
